#jobs
  -@jobs.each do |job|
    .job
      %h2= link_to job.title, job
      %p= job.description
      %p
        =link_to 'Edit', [:edit, job]
        =link_to 'Delete', job, method: :delete, data:{ confirm:'Are you sure?' }
