-if user_signed_in?
  %li
    =link_to new_job_path do
      %span.glyphicon.glyphicon-plus-sign
      Job
  %li
    =link_to edit_user_registration_path, data:{ toggle:'tooltip', placement:'bottom' }, title:current_user.email do
      %span.glyphicon.glyphicon-user
      =current_user.email.truncate( 8 )
  %li
    =link_to destroy_user_session_path, method: :delete do
      %span.glyphicon.glyphicon-log-out
      Sign Out
-else
  %li
    =link_to new_user_registration_path do
      %span.glyphicon.glyphicon-user
      Sign Up
  %li
    =link_to new_user_session_path do
      %span.glyphicon.glyphicon-log-in
      Sign In
